.slider {
	max-width: 728px;
	margin: 0 auto;
	padding: 20px 0;
}

.swiper-pagination {
	text-align: none;
}


.swiper-pagination-bullet {
	height: 15px;
	width: 15px;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	background-color: #ffffff;
}