<section class="slider">
		<!-- Slider main container -->
		<div class="swiper">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<img src="images/slide-1.jpg" alt="image">
				</div>
				<div class="swiper-slide">
					<img src="images/slide-2.jpg" alt="image">
				</div>
				<div class="swiper-slide">
					<img src="images/slide-3.jpg" alt="image">
				</div>
				<div class="swiper-slide">
					<img src="images/slide-4.jpg" alt="image">
				</div>
				<div class="swiper-slide">
					<img src="images/slide-5.jpg" alt="image">
				</div>
	
			</div>
			<!-- If we need pagination -->
			<div class="swiper-pagination"></div>
			
		</div>
</section>

